@model IEnumerable<SistemaContabilidadAltosDelAbejonal.Models.CompraDetalle>

@{
    ViewBag.Title = "Reportes de Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Reportes de Compras</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Compras</a></li>
                            <li class="breadcrumb-item active">Reportes de Compras</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top:20px;">
            <div class="col-lg-6 d-flex justify-content-center mb-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Reporte Compras Mensual</b> </div>
                    <div class="panel-body">
                        <canvas id="myBarChart" width="800" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(function () {
            jQuery.ajax({
                url: '@Url.Action("ReporteCompra", "CompraDetalles")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log('Datos de Compras:', data);

                    if (data.length === 0) {
                        alert('No se encontraron datos de compras.');
                        return;
                    }
                    var arrayMeses = [];
                    var arrayCantidad = [];
                    for (var i = 0; i < data.length; i++) {
                        arrayMeses.push(data[i].Mes);
                        arrayCantidad.push(data[i].Cantidad);
                    }
                    var controlBar1 = document.getElementById("myBarChart");
                    var graficoBar1 = new Chart(controlBar1, {
                        type: 'bar',
                        data: {
                            labels: arrayMeses, 
                            datasets: [{
                                label: "Total Compras",
                                backgroundColor: ["#03B100", "#0083B1", "#0800B1"],
                                borderColor: "#000000",
                                borderWidth: 0,
                                data: arrayCantidad,
                            }],
                        },
                        options: {
                            scales: {
                                x: {
                                    grid: { display: true }
                                },
                                y: {
                                    ticks: { min: 0 },
                                    grid: { display: true }
                                }
                            },
                            legend: { display: true }
                        }
                    });
                },
                error: function (error) {
                    console.log('Error al obtener los datos de compras:', error);
                }
            });
        });
    </script>
}

