@{
    Layout = null;
    ViewBag.Title = "Iniciar Sesión";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Altos del Abejonal</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/AltosAbejonal.jpeg">
    @Styles.Render("~/Content/css")
</head>

<body>
        <div class="">
            <div class="bg-overlay"></div>
            <div class="row align-items-center justify-content-center min-vh-100">
                <div class="col-10 col-md-6 col-lg-4 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center">
                                <a href="#" class="logo-Abejonal">
                                    <img src="~/assets/images/AltosAbejonal.jpeg" alt="" height="50" class="auth-logo logo-dark mx-auto">
                                </a>
                                <h4 class="mt-4">No tiene permiso para acceder a esta página</h4>
                                <p class="text-muted">Intente iniciar sesión</p>
                            </div>
                            <a href="/Login/IniciarSesion" class="grid-nav-item">
                                <div class="grid-nav-icon"><i class="far fa-address-card"></i></div>
                                <span class="grid-nav-content">Iniciar Sesión </span>
                            </a>
                            <div class="mt-5 text-center">
                                <p>
                                    ©
                                    <script>document.write(new Date().getFullYear())</script> Altos Del Abejonal.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @Scripts.Render("~/bundles/js")
</body>
</html>